.topbarContainer {
  height: 50px;
  width: 100%;
  background: rgb(90, 9, 240);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.topbarLeft {
  flex: 3;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 12px;
  color: #ffffff;
  cursor: pointer;
}
.topbarCenter {
  flex: 5;
}
.topbarCenter .searchBar {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 30px;
}
.topbarCenter .searchBar .searchIcon {
  margin-left: 10px !important;
  font-size: 20px;
}
.topbarCenter .searchBar .searchInput {
  width: 70%;
  border: none;
}
.topbarCenter .searchBar .searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
.topbarLinks {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarLink {
  padding-right: 10px;
}
.topbarIcons {
  display: flex;
  align-content: space-around;
}
.topbarIconItem {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-top: 8px;
}
.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: #ffff;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.topbarImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 15px;
}
